* {
  color: #929292;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  margin: 8em 6em 2em 6em;
  font-size: .92em;
}

.icons {
  /*margin-left: 16em;*/
}

fa-icon {
  font-size: 1em;
  margin: .6em;
}

fa-icon:hover {
  cursor: pointer;
  color: #7F93FF;
}

*:hover {
  cursor: default;
}

.footer-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 1em 2em 1em;
  font-size: .8em;
}

.footer-container-mobile .icons {
  margin-bottom: 1em;
}
