/* ----- sitewide --------*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	cursor: default;
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	color: #828282

}

.main {
	display: flex;
	flex-direction: column;
	padding: 8% 20% 8% 24%;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
}

::selection {
	background: #FEDAAC;
	color: #FAFAFA;
}
.title-text {
	height: 44%;
	color: #4F4F4F;
}
.home-text {
	font-size: 32px;
	font-weight: 300;
	height: 30%;
	opacity: 1;
}

.title {
	font-size: 40px;
	font-weight: 400;
	color: #FF9A53;
}

.title-words:hover {
	opacity: .7;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.resume-button {
	display: flex;
	justify-content: center;
	align-self: flex-start;
	height: 16%;
	width: 40%;
	margin: 4em 0 4em 0;
	opacity: .8;
}

.button {
	border-radius: 40px;
	border: 2px solid #FFA465;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	align-items: center;
	text-align: center;
	padding: 4%;
}

.button:hover {
	border: 2px solid #FFA465;
	background: #FFA465;
	color:#FAFAFA;
}

.resume-button:hover {
	opacity: 1;
}

.description-text {
	font-size: 16px;
	display: flex;
	font-weight: 300;
	color: #4F4F4F;
	height: 16%;
	opacity: .8;


}




