<!---WEB---->
<div class="outer-container" *ngIf="!isMobile">
    <div class="main-container">
        <!--intro section-->
        <section class="intro" *ngFor="let c of intro">
            <div *ngIf="c.id==4">
                <h2 class="page-title">{{c.title}}</h2>
                <div class="description">{{c.description}}</div>
            </div>
        </section>
        <!--main sections-->
        <section class="overview" *ngFor="let p of play">
            <div class="word-section">
                <div class="title">{{p.sectionTitle}}</div>
                <div class="section-descrip" *ngIf="p.sectionTitle=='Web Portfolio for a Journalist'">
                    {{p.sectionDescrip}}
                </div>
                <!--eliza section descrip-->
                <div class="section-descrip" *ngIf="p.sectionTitle=='Web Portfolio for a Journalist'">
                    During the Summer of 2020, I designed and developed an online portfolio website for a good friend, who recently graduated college and is entering a career in journalism. You can view the shipped website
                    <a href="https://elizasiegel.github.io/" target="_blank">here.</a>
                </div>
                <!-- great blog -->
                <div class="section-descrip" *ngIf="p.sectionTitle=='The Great Blog'">
                    An excersize in front end development and user experience design. View the final project
                    <a href="https://taylormcpherson.github.io/the-great-blog/" target="_blank">here</a>, as well as furhter documentation and discussion on the <a href="https://github.com/taylormcpherson/the-great-blog#readme" target="_blank">README</a>.
                    {{p.sectionDescrip}}
                </div>
                <div *ngIf="p.sectionImg!=''" class="section-img">
                    <img src="{{p.sectionImg}}" width="100%">
                </div>
            </div>
        </section>
    </div>
    <app-case-footer></app-case-footer>
</div>


<!---MOBILE---->
<div class="mobile" *ngIf="isMobile">
    <div class="mobile-outer-container">
        <div class="main-container">
            <!--intro section-->
            <section class="intro" *ngFor="let c of intro">
                <div *ngIf="c.id==4">
                    <h2 class="page-title">{{c.title}}</h2>
                    <div class="description">{{c.description}}</div>
                </div>
            </section>
            <!--main sections-->
            <section class="overview" *ngFor="let p of play">
                <div class="word-section">
                    <div class="title">{{p.sectionTitle}}</div>
                    <div class="section-descrip" *ngIf="p.sectionTitle!='Web Portfolio for a Journalist'">
                        {{p.sectionDescrip}}
                    </div>
                    <!--eliza section descrip-->
                    <div class="section-descrip" *ngIf="p.sectionTitle=='Web Portfolio for a Journalist'">
                        During the Summer of 2020, I designed and developed an online portfolio website for a good friend, who recently graduated college and is entering a career in journalism. You can view the shipped website
                        <a href="https://elizasiegel.github.io/" target="_blank">here.</a>
                    </div>
                    <!-- great blog -->
                    <div class="section-descrip" *ngIf="p.sectionTitle=='The Great Blog'">
                        An excersize in front end development and user experience design. View the final project
                        <a href="https://taylormcpherson.github.io/the-great-blog/" target="_blank">here</a>, as well as furhter documentation and discussion on the <a href="https://github.com/taylormcpherson/the-great-blog#readme" target="_blank">README</a>.
                        {{p.sectionDescrip}}
                    </div>
                    <div *ngIf="p.sectionImg!=''" class="section-img">
                        <div *ngIf="p.sectionTitle=='Quarantine Affirmations'">
                            <img src="./assets/img/play-affirmations-mobile.png" width="100%">
                        </div>
                        <div *ngIf="p.sectionTitle=='Looking into Prisons in Hawai‘i'">
                            <img src="./assets/img/play-prisons-mobile.png" width="100%">
                        </div>
                        <div *ngIf="p.sectionTitle=='Web Portfolio for a Journalist'">
                            <img src="{{p.sectionImg}}" width="100%">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-case-footer></app-case-footer>
    </div>
</div>