.work-container {
  /*margin-left: 12vw;
  margin-right: 8vw;*/
  display: flex;
  flex-direction: column;
  margin-left: 12em;
  margin-right: 12em;
  justify-content: center;
}

.work-container-mobile {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
