<div class="about-intro-container" *ngIf="!isMobile">
  <h2>I am officially a graduate of the <span class="major highlight">University of California, Santa Cruz</span> with a Bachelors in
    <span class="school highlight">Computer Science</span> as of December, 2020. 🎓 🎉
  </h2>
</div>

<div class="about-intro-container-mobile" *ngIf="isMobile">
  <h2>I am officially a graduate of the <span class="major highlight">University of California, Santa Cruz</span> with a Bachelors in
    <span class="school highlight">Computer Science</span> as of December, 2020. 🎓 🎉
  </h2>
</div>
