<div class="about-intro-container" *ngIf="!isMobile">
  <h2>Currently working as a <span class="school highlight">Front End Developer</span>
    at <a href="https://lifeblue.com/" target="_blank" class="major highlight">Lifeblue</a>. 🎉
  </h2>
</div>

<div class="about-intro-container-mobile" *ngIf="isMobile">
  <h2>Currently working as a <span class="school highlight">Front End Developer</span>
    at <a href="https://lifeblue.com/" target="_blank" class="major highlight">Lifeblue</a>. 🎉
  </h2>
</div>
