<div class="nav-bar-container" *ngIf="!isMobile">
    <a class="nav-item work" routerLink="/work" routerLinkActive="activePage">
    WORK
  </a>
    <a class="nav-item resume" routerLink="/resume" routerLinkActive="activePage">
      RESUME
  </a>
    <a class="nav-item about" routerLink="/about" routerLinkActive="activePage">
    ABOUT
  </a>
</div>

<div class="nav-bar-container-mobile" *ngIf="isMobile">
    <a class="nav-item work" routerLink="/work" routerLinkActive="activePage">
    WORK
  </a>
    <a class="nav-item resume" routerLink="/resume" routerLinkActive="activePage">
      RESUME
  </a>
    <a class="nav-item about" routerLink="/about" routerLinkActive="activePage">
    ABOUT
  </a>
</div>