/* Application-wide Styles */

h1 {
    color: #369;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-weight: lighter;
}


/*body {
  margin: 4em;
}*/

body,
input[type="text"],
button {
    color: #4F4F4F;
}

a {
    position: relative;
    font-weight: 500;
    color: #5B7FFE;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

a::before {
    content: '';
    transition: all .25s ease-in-out;
}

a:hover {
    opacity: .6;
    cursor: pointer;
}

a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 2px;
    background: #5B7FFE;
    opacity: .6;
}


/* everywhere else */

*:focus {
    outline: 2px dashed #444;
    outline-offset: 2px;
}

* {
    /*font-family: Nunito, sans-serif;*/
    font-family: 'Nunito', sans-serif;
    line-height: 1.6em;
}


/* You can add global styles to this file, and also import other style files */

::selection {
    background: #929292;
    color: #FFFFFF;
}